@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.photo {
    margin-left: 10%;
    margin-top: 5%;

}